:root{
 --orange: #ff4e00
}

.a{
  height:100vh;
  display: flex;
  padding:40px;
}

.a-left {
 flex-direction: column;
 margin-right:150px;
 width: 50%;
 margin-top: 60px;
}

.a-left-up{
 color:var(--orange);
 font-size: 1.25rem;
 padding-left: 16px;
}

.a-left-low{
  flex:1;
  margin-top: 40px;
  display: flex;
  flex-flow:  wrap;
  align-items: center;
}


.a-right{
  flex:1;
  margin-top: 60px;
  margin-right:100px;
  word-spacing: 1px;
}

.a-title{
  font-size: 30px;
  font-weight:400;
}

.a-sub{
  font-size: 30px;
  font-weight:bold;
  color:#ff4e00;
  margin: 20px 0px;
}


.a-text{
  font-size: 24px;
  font-weight:300;
}

@media screen and (max-width: 570px){
  .a{
    flex-direction: column;
    text-align: left;
    height:100%;
  }

  .a-left{
    width:100%;
  }
  .a-left-low{
    margin: 40px 0px;
    row-gap: 5px;
    column-gap: 5px;
    display: flex;
    flex-flow: wrap;
  }

  .a-card{
    height:50vh;
  }

  .a-card.bg{
    display: none;
  }

  .a-text{
    display:none;
  }

}
