.a{
  height:100vh;
  display: flex;
  padding:40px;
}

.a-left{
  flex:1;
  height: 70%;
  width: 10%;
  margin-right:150px;
  display: flex;
  flex-flow:  wrap;
  align-items: center;

}

/* .a-card{
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  position:relative;
  overflow:hidden;
  background-color: greenyellow;
} */


.a-right{
  flex:1;
  margin-top: 40px;
}

.a-title{
  font-size: 30px;
  font-weight:400;
}

.a-sub{
  font-size: 30px;
  font-weight:bold;
  color:#ff4e00;
  margin: 20px 0px;
}


.a-text{
  font-size: 24px;
  font-weight:300;
}

@media screen and (max-width: 570px){
  .a{
    flex-direction: column;
    text-align: left;
    height:100%;
  }

  .a-left{
    width:100%;
    margin: 40px 0px;

    row-gap: 10px;
    column-gap: 10px;
    display: flex;
    flex-flow: wrap;
  }

  .a-card{
    height:50vh;
  }

  .a-card.bg{
    display: none;
  }

  .a-text{
    display:none;
  }

}
