*{
  box-sizing:border-box;
}
/* color:
orange #F18119
black #404040
white #FFF
grey #5A5A5A
 */
body{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  color: #404040;
  margin:0;
  text-align: center;
}

.left-page{
   background-image: url('../Challenge-BBQ-0816/images/dark-ribs.jpg');
   background-size: cover;
   background-position: center;
   background-color: #40404056;
   background-blend-mode: multiply;
   background-repeat: no-repeat;
   display:flex;
   flex-direction: column;
   min-height: 50vh;
   justify-content: space-between;
  }

 .left-page h1{
  color:  #FFF;
  font-size: 3.55rem;
  font-weight: 300;
  padding: 0 10px;
  }
 strong{font-weight: 900;}

 .top-text,
 .left-subtitle{
  color:#F18119;
  text-transform:uppercase;
 }

 .top-text{
  letter-spacing: 1px;
  font-size: 0.725rem;
  font-weight: 900;
  border-top:5px solid #F18119;
  padding-top: 2px;
  margin: 0 auto;
  order:-1;
 }

 .left-page h2{
  margin-bottom: 35px;
  }

 /* right part */
.right-form{
  display: flex;
  flex-direction: column;
  width:80%;
  max-width: 300px;
  margin: 0 auto;
}
.right-form input{
  font-family:inherit;
  text-align: inherit;
  margin-bottom: .75em;
  padding: .25em;
  transform: scale(1);
  transform:200ms;
}
.right-form input:focus{
  transform: scale(1.05);
}

.btn{
  font-weight: 900;
  font-size: 0.625em;
  color:white;
  padding:1em 1.4em;
  background-image: linear-gradient(45deg, #ff713b, #ffa51d);
  border:0;
  transform:scale(1);
}
.btn:hover{
  cursor: pointer;
  background:#ff713b;
  /* color: black; */
  transition: 100ms;
  transform:scale(1.05)
}

.right-page h2{
  margin-bottom: 0;
}
.right-subtitle{
  color:#F18119;
  text-transform: uppercase;
  margin-top: 5px;
}

.right-page-description{
  font-size: 23px;
  padding: 24px;
  color:#5A5A5A;
}
.fine-print{
  letter-spacing: 1.3px;
}



@media (min-width: 570px) {
  body{
    font-size:1.15;
    display: flex;
  }
  .left-page{
    min-height:50vh;
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
  }
  .right-page{
    width:50%;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
  }
}
