
.t-icons{
  height: 20%;
  width: 14%;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  margin:5px;
}

.t-img{
  width: 80px;
  height: 70px;
  margin:auto;
  object-fit:contain;
  border-radius: 2px;
  box-shadow: 0px -1px 5px 0px var(--orange);
}

.t-img:hover{
  transform: scale(1.1);
  transition: 0.3s;
  box-shadow: 0px -3px 10px 0px var(--orange);
 }

.t-desc{
  font-weight: 300;
  margin: auto;
}

@media screen and (max-width: 570px){
  .t-img{
    width: 60px;
    height: 50px;
  }
}
