
.p{
 width: 30%;
 height: 40vh;
 margin: 20px 10px;
 border: 2px solid grey;
 border-radius: 5px 5px 0px 0px;
 overflow: hidden;
}

.p-insert{
  height: 100%;
}

.p-link{
  text-decoration: none;
}
.p-link:hover{
  transform: scaleX(1.2);
}

@media screen and (max-width: 570px){
.p{
  width:50%;
  height: 20vh;
}
}
