body{
  background-image: url('./img/pocker.png');
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  color: #DBF1A1;
  line-height: 0.7;
}

.playground{
  text-align: center;
  margin:0 auto;
  max-width: 700px;
}
.info{

  display:flex;
  justify-content: space-between;
  /* background-color: aliceblue; */
}

#card-load{
  height: 400px;
  display: flex;
  justify-content: space-around;
  padding-top: 0px;
  padding-bottom: 0px;
  align-items: center;
  }

.card-slot{
  height: 280px;
  width: 200px;
  border: 1px solid #DBF1A1;
  border-radius: 10px;

}

.insert{
   height: 100%;;
}

.players{
  display:flex;
  justify-content: space-around;
  color: #DBF1A1;
}

button{
  border-style: none;
  background-color: #5D7814;
  height: 130px;
  width:130px;
  border-radius: 50%;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;

}


button:hover{
  transform: scale(1.03);
  cursor: pointer;
  background-color: #3A5000;
  transition: 0.2s;
}
