.mheader{
  height: 40px;
  display: flex;
  padding-left: 40px;
}

.header-item{
  margin-top: 15px;
  padding-right: 15px;
  font-size: 16px;
  justify-content: center;
  text-decoration: none;
  color: #ff4e00;
}

.header-item:hover{
  color: red;
  transform: scale(1.2);
}
