.pl{
  height:100vh;
  padding: 50px 100px;
  margin-top: 40px;
  display:flex;
  /* flex-direction: column; */
  /* align-items: center; */
}

.pl-list{
  width:100%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-top:40px;
}

.pl-text{
  width:50%;
  height:70%;
  letter-spacing: 1.1px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.pl-tittle{
  font-size:30px;
  color: var(--orange);
  font-weight: 600;
  padding-top: 50px;
}


.pl-desc{
  margin:20px 0px;
  font-size: 24px;
  font-family: "Sora",sans-serif;
  font-weight:200;
  width: 70%;
 }


@media screen and (max-width: 570px){
  .pl{
    padding: 0px;
    margin-left: 0px;
    flex-direction: column;
    height: 100vh;
  }
  .pl-list{
     justify-content: center;
     width: 70%;
     margin: auto;
   }

  .pl-text{
    display: none;
  }


}
