body{
  margin:0 auto;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  max-width: 700px;
  padding-bottom:0;
  display: grid;
  justify-content: space-between;
}


.navbar,
.footer{
  background-color:#F0F0F0;
  opacity: 0.7;
  text-align: center;
}

.form{
  display: grid;
  padding: 40px 20px 20px;
  background-color: #00474B;
  color: #00464C;
  margin-bottom: 0;
}
input,
textarea{
  background-color: #F3F8FB;
}

.button{
  cursor: pointer;
  background-color: #26C2AC;
  border-style: none;
  font-size: 16px;
  padding: 5px;
}
#blog-list{
  padding-left: 20px;
  padding-right: 20px;
  background-color:#C5E4E8;
}


.button:hover{
  background-color: grey;
}

.post-title{
  color: #00464C;
}
